<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start"><ion-back-button></ion-back-button></ion-buttons>
    <ion-title>Categorias</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="criarCategoria()"><ion-icon name="add-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let cat of categorias" (click)="verQuestoes(cat.id!)" detail="true">
      <ion-label>{{ cat.nome }}</ion-label>
      <ion-button fill="clear" color="primary" (click)="$event.stopPropagation(); editarCategoria(cat)">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear" color="danger" (click)="$event.stopPropagation(); excluirCategoria(cat.id!)">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>