<ion-content class="ion-padding login-content">
  <div class="logo-container">
    <ion-icon name="school-outline" class="logo-icon"></ion-icon>
    <h1>Testroom</h1>
    <p>Sua plataforma de ensino inteligente</p>
  </div>

  <form [formGroup]="formGroup" (ngSubmit)="autenticar()">
    <ion-item lines="none" class="input-item">
      <ion-icon name="mail-outline" slot="start"></ion-icon>
      <ion-input type="email" formControlName="email" placeholder="E-mail" required></ion-input>
    </ion-item>

    <ion-item lines="none" class="input-item">
      <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
      <ion-input type="password" formControlName="senha" placeholder="Senha" required></ion-input>
    </ion-item>

    <ion-button type="submit" expand="block" [disabled]="!formGroup.valid" class="login-button">
      Entrar
      <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
    </ion-button>
  </form>

  <div class="signup-info">
    <p>Novo por aqui? <a (click)="irParaCadastro()">Crie sua conta</a></p>
    <p><small>Professor ou aluno, sejam bem-vindos</small></p>
  </div>
</ion-content>