<ion-content class="ion-padding login-content">
  <div class="login-container">
    <h1>Bem-vindo</h1>
    <p class="subtitle">Acesse sua conta</p>

    <ion-item>
      <ion-label position="floating">E-mail</ion-label>
      <ion-input type="email" [(ngModel)]="email" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" [(ngModel)]="senha" required></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="login()" [disabled]="!email || !senha" class="login-btn">Entrar</ion-button>
    <ion-button expand="block" fill="clear" (click)="irParaCadastro()" class="register-link">Criar conta</ion-button>
  </div>
</ion-content>