<ion-header [translucent]="true">
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/menu/minhas-turmas"></ion-back-button>
        </ion-buttons>
        <ion-title>{{ isEditing ? 'Editar Turma' : 'Nova Turma' }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
    <form [formGroup]="formGroup" (ngSubmit)="salvar()">
        <ion-item>
            <ion-label position="stacked">Nome da Turma *</ion-label>
            <ion-input type="text" formControlName="nome" placeholder="Ex: Engenharia de Software - 2024.1"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">Descrição *</ion-label>
            <ion-textarea formControlName="descricao" rows="4" placeholder="Descreva a turma..."></ion-textarea>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">Código de Acesso *</ion-label>
            <ion-input type="text" formControlName="codigoAcesso" placeholder="Código para alunos entrarem"></ion-input>
        </ion-item>

        <ion-button type="submit" expand="block" color="danger" [disabled]="!formGroup.valid" class="ion-margin-top">
            {{ isEditing ? 'Atualizar' : 'Criar' }} Turma
        </ion-button>
    </form>
</ion-content>