<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Entrar em Turma</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="header-icon">
    <ion-icon name="enter-outline"></ion-icon>
    <h2>Digite o código da turma</h2>
    <p>Peça o código ao seu professor</p>
  </div>

  <ion-item lines="none" class="codigo-input">
    <ion-input
      [(ngModel)]="codigoAcesso"
      placeholder="Ex: X7G9K2M3"
      maxlength="20"
      style="text-transform: uppercase"
    ></ion-input>
  </ion-item>

  <ion-button
    expand="block"
    (click)="entrarTurma()"
    [disabled]="!codigoAcesso"
    class="enter-button"
  >
    Matricular-se
  </ion-button>
</ion-content>